SpeechRecognition
openai
pyttsx3
#pyaudio
elevenlabslib
#sounddevice
aiofiles
anyio
appdirs
asgiref
certifi
cffi
charset-normalizer
click
colorama
cython
fastapi
h11
idna
jinja2
markupsafe
numpy
pycparser 
pydantic 
pyopenjtalk @ git+https://github.com/VOICEVOX/pyopenjtalk@827a3fc5c7dda7bbe832c0c69da98e39cc8cb2c3
python-multipart
pyworld
pyyaml
requests
scipy
semver
six
sniffio
soundfile
starlette
tqdm
typing-extensions
urllib3
uvicorn